table {
    text-align: center;
}

table.valid {
    background-color: rgba(0, 128, 0, 0.1);
}

table.error {
    background-color: rgba(255, 0, 0, 0.1);
}

table th {
    min-width: 50px;
}

button.reverse-btn {
    margin: 0 0 0 5px;
    padding: 0;
    width: 10px;
    height: 18px;
    border: 0;
    vertical-align: middle;
    background: none;
    outline: none;
    cursor: pointer;
}
