$base-transition-speed: 0.25s;

body {
  margin: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  min-width: 250px;
  padding: 20px;
  background-color: $white;
  outline: none;

  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($darkBlue, 0.75);
  }

  &__content--wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 20px 0;
    @include title(small);
    color: $darkBlue;
  }
}

.form {
  @include paragraph;

  &__group {
    margin-bottom: 10px;

    &:last-child {
      margin: 20px 0 0 0;
    }

    &--inline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    color: $grey1;

    &--info {
      @include label(small);
    }

    &--optional {
      @include label(small);
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    @include label;
    color: $grey1;
    background-color: $white;
    border: 1px solid $grey2;
  }

  &__button {
    @include button($darkBlue, $white);
    width: 100px;
  }
}
