header {
    text-transform: uppercase;
    color: #666666;
    text-align: center;
}

.product__list {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.product__item {
    position: relative;
    flex-wrap: wrap;
    max-width: 300px;
    overflow: hidden;
    margin: 20px;
}

.product__image {
    max-height: 225px;
}

.product__title {
    margin: 10px 0 5px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #666666;
}

.product__description {
    margin: 0;
    color: #666666;
}

.product__banner--sale {
    position: absolute;
    top: 20px; left: -35px;
    padding: 5px 10px;
    width: 120px;
    background: #990033;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    transform: rotate(-45deg);
}
